
body {
	background-color:#7FF50A;
}	
img {
	border: 10px solid #11A4ED;
}
head {
	background-image:("http://img3.wikia.nocookie.net/__cb20131019152458/adventuretimewithfinnandjake/images/a/a9/S4_E24_Gunter_wearing_the_eye.PNG")
}